* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
select,
textarea {
  font-family: 'Poppins', sans-serif;
}

header h1 {
  font-family: 'Staatliches', sans-serif;
  font-size: 36px;
  font-weight: 400;

  margin-top: 107px;
}

header p {
  font-size: 16px;
}

header img {
  margin-top: 2px;
}

form {
  margin-top: 32px;
}

.fieldset-wrapper legend {
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  line-height: 34px;
}

form > .fieldset-wrapper:nth-child(1) legend {
  margin: 50px auto;
}

.input-wrapper {
  font-size: 14px;
  line-height: 24px;
}

footer button {
  font-family: 'Staatliches', sans-serif;
  font-size: 20px;
  line-height: 26px;
}